# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE files
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Dependency management
pip-log.txt
pip-delete-this-directory.txt

run/cache